* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}


header {
    display: flex; /* Coloca as classes (logo, nav, cart) na mesma linha */
    width: 90%;
    height: 10vh;
    margin: auto; /* Centraliza o header 90% */
    align-items: center;
}

.logo-container, /* seta as classes para serem flex, logo abaixo*/
.nav-links,
.cart {  
    display: flex;
}

.logo-container {
    flex: 1; /* Pega o espaco todo que sobra */
}

.logo {
    font-weight: 400;
    margin: 5px;
}

nav {
    flex: 2;
}

.nav-links {
    justify-content: space-around; /* cria espacos igualmente */
    list-style: none;
}

.nav-link-item {
    color: #5f5f79;
    font-size: 18px;
    text-decoration: none;
}

.cart {
    flex: 1; 
    justify-content: flex-end; /* coloca essa classe pra final. Pra fiminuir ou aumentar so mudar o valor de width de header*/
}

.presentation {
    display: flex; /* Display as divs de dentro de Presentation para serem flex. Ficar um ao lado do outro. */
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}

.introduction {
    flex: 1;
}

.intro-text h1 {
    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #8e8ea7); /* BG gradiente */
    -webkit-background-clip: text; /* clipa o texto no BG */
    -webkit-text-fill-color: transparent; /*deixa BG transparente */
}

.cta {
    padding: 50px 0px 0px 0px;
}

.cta-select {
    border:  2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.cta-add {
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: none;
    color: white;
    margin: 30px 0px 0px 30px;
}

.intro-text p {
    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cover {
    flex: 1;
    display: flex;
    justify-content: center;
    height: 60vh;
}

.cover img {
    height: 100%;
    filter: drop-shadow(0px 6px 5px black); /* adiciona transparencia ao PNG */
    animation: drop 1.5s ease; /* Coloca a animacao no cover */
}

.big-circle {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1; /* move a imagem para tras */
    opacity: 0.5;
    height: 80%;
}

.medium-circle {
    position: absolute;
    top: 30%;
    right: 30%;
    z-index: -1; /* move a imagem para tras */
    height: 60%;
    opacity: 0.4;
}

.small-circle {
    position: absolute;
    bottom: 0%;
    left: 25%;
    z-index: -1; /* move a imagem para tras */
    height: 30%;
}

.laptop-select {
    width: 15%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 25%;
}

@keyframes drop{ /* Animacao do notebook aparecendo de cima para baixo */
    0% {
        opacity: 0;
        transform: translateY(-80px); /* Y seta o eixo */
    } 
    100% {
        opacity: 1;
        transform: translate(0px);
    }
}

@media screen and (max-width: 1024px) { /* .presentation fica em uma unica coluna. Deixando p em cima e cover embaixo */ 
    .presentation {
        flex-direction: column;
    }

    .introduction {
        margin-top: 5vh;
        text-align: center;
    }

    .intro-text h1 {
        font-size: 30px;
    }

    .intro-text p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 0px 0px 0px;
    }

    .laptop-select {
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
    }
    
    .cover img {
        height: 80%;
    }

    .small-circle, 
    .medium-circle, 
    .big-circle {
        opacity: 0.2;
    }
}
